
body{
    background: url(imagenes/jarron\ rosado.jpg);
    background-size: cover;
    background-position: center; 
    background-position-y: 40%;
}

button{
    background-color: rgb(192, 155, 92);
    font-family: cursive;
    width: 18%;
    border-radius: 25px;
    border: 0px;
    color: darkgoldenrod;
    cursor: pointer;
    height: 51px;
 }

 .titulos{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    justify-content: space-around;
    font-family: cursive;
    font-size: larger;
    color: rgb(67, 64, 64);
}

.titulos a {
    text-decoration: auto;
    color: rgb(67, 64, 64);
}

.container-parrafo{
    font-family: cursive;
    font-size: 240%;
    margin-top: 5%;
    padding-top: 0%;
    border-top: 0%;

}

.container-seccion {
    height: 100%; /* or inline-flex */
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.container-seccion .seccion-1 {
    display: flex;
    justify-content: space-around;
    width: 60%;
    padding: 1%;
}

.seccion-1-colum {
    width: 29%;
}

.seccion-1-colum div {
    height: 29%;
    margin: 23px;
}

.seccion-1-colum div img {
    width: 206px;
}

.container-seccion .seccion-2 {
    width: 40%;
    padding: 1%;
}

