body{
    background: url(imagenes/jarron\ rosado.jpg);
    background-size: cover;
    background-position: center; 
    background-position-y: 75%;
}

button{
    background-color: rgb(192, 155, 92);
    font-family: cursive;
    width: 18%;
    border-radius: 25px;
    border: 0px;
    color: darkgoldenrod;
    cursor: pointer;
    height: 51px;
 }

 .titulos{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    justify-content: space-around;
    font-family: cursive;
    font-size: larger;
    color: rgb(67, 64, 64);
}

.titulos a {
    text-decoration: auto;
    color: rgb(67, 64, 64);
}

.container-parrafo{
    font-family: cursive;
    font-size: 240%;
    margin-top: 5%;
    padding-top: 0%;
    border-top: 0%;

}

.container-seccion {
    height: 100%; /* or inline-flex */
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.container-seccion .seccion {
    width: 46%;
    padding: 1%;
}

.logo-decoraciones {
    height: 30%;
}

.container-decoraciones {
    display: flex;
    height: 69%;
    justify-content: space-around;
    margin-top: 1%;
}

.container-decoraciones .decoration-seccions {
    width: 50%;
    height: 100%;
}

.container-decoraciones .decoration-seccions div {
    display: block;
    height: 48%;
    margin: 1%;
}
.img-logo{
    width: 89%;
    margin-top: 35%;
}

.img-sala {
    height: 100%;
    width: 100%;
}
.persona-decorando{
    width: 100%;
    height: 100%;
}
.terrazas{
    width: 100%;
    height: 100%;
}
.color-parrafo{
    color: rgb(52, 48, 48);
}

@media (max-width: 480px) {
    .seccion .container-decoraciones .decoration-seccions img {
        margin-top: 30%;
    }
    .seccion .container-decoraciones .decoration-seccions div img {
        margin-top: 18%;
    }
}
